<% provide(:title, "Contact") %>
<h1>Sample App</h1>
<p>
  This is the contact page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. This part of the tutorial is an addtional exercise.
</p>